<?xml version="1.0" encoding="utf-8"?>
<!--
 * Project: Timeriffic
 * Copyright (C) 2009 ralfoide gmail com,
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.alfray.timeriffic" android:versionCode="1813" android:versionName="1.8.13">
    <application
        android:label="@string/app_name"
        android:icon="@drawable/timeriffic_icon"
        android:name=".app.TimerifficApp" >

        <receiver android:name=".app.UpdateReceiver">
            <intent-filter>
                <!-- this triggers an apply state too -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alfray.intent.action.APPLY_STATE" />
            </intent-filter>
            <intent-filter>
                <!-- this triggers an apply state too -->
                <action android:name="com.alfray.intent.action.UI_CHECK" />
            </intent-filter>
            <intent-filter>
                <!-- this does NOT trigger apply state, just recompute alarms. -->
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <!--  not used yet, maybe later to have profiles per caller. -->
            <!-- intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter -->
        </receiver>

        <activity
            android:name=".prefs.PrefsActivity"
            android:label="@string/prefs_title" />

        <activity
            android:name=".app.IntroActivity"
            android:label="@string/intro_title"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".profiles.ProfilesUI"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".profiles.EditProfileUI"
            android:label="@string/editprofile_title"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".actions.EditActionUI"
            android:label="@string/editaction_title" />

        <activity
            android:name=".utils.ChangeBrightnessActivity"
            android:theme="@style/NoBackground"
            android:taskAffinity="com.alfray.timeriffic.Change" />

        <service android:name=".app.PhoneStateService"/>

        <activity android:theme="@android:style/Theme.Dialog"
             android:label="@string/errorreport_title"
              android:name=".error.ErrorReporterUI"/>

    <service android:name=".app.UpdateService"></service>
</application>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <supports-screens
        android:largeScreens="true"
        android:anyDensity="true"
        android:smallScreens="true"
        android:resizeable="true"
        android:normalScreens="true"
    />
</manifest>
